body {
    font-family: "lato";
    color: rgb(68, 68, 87);
    margin: 0;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
h3 {
    color: rgb(0, 0, 0);
    font-weight: 500;
}
header {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
    background-color: #38f9d7;
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 30px;
}

main {
    display: flex;
    height: 100%;
}

aside {
    position: fixed;
    width: 220px;
    min-width: 220px;
    max-width: 220px;
    height: 100%;
    text-align: center;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    padding: 30px;
}

section {
    width: calc(100% - 220px);
    padding: 30px;
    margin-left: 280px;
}

.shine {
    background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.1, #fff)) 0 0 no-repeat;
    -webkit-background-size: 150px;
    color: blue;
    -webkit-background-clip: text;
    -webkit-animation-name: shine;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    text-shadow: 0 1px 0px rgba(191, 3, 248, 0.5);
}

@-webkit-keyframes shine {

    0%,
    10% {
        background-position: -1000px;
    }

    20% {
        background-position: top left;
    }

    90% {
        background-position: top right;
    }

    100% {
        background-position: 1000px;
    }
}

@-webkit-keyframes swing {
    15% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }

    30% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }

    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }

    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }

    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes swing {
    15% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }

    30% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }

    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }

    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }

    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.swing:hover {
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.img-box {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    margin-bottom: 20px;
    padding: 8px;
}

.img-box img {
    width: 100%;
    border-radius: 100%;
}
.user-name {
    margin-bottom: 20px;
}
.user-contact {
    margin-bottom: 20px;
}
.user-skills {
    margin-bottom: 20px;
}

.user-skills ul {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
    font-size: 18px;
    padding: 0;
}
.user-skills ul li {
    color: #000;
    background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
    font-size: 15px;
    font-weight: 500;
    list-style: none;
    width: 90%;
    border: 1px solid transparent;
    margin-bottom: 5px;
    padding: 5px 10px;
    transition: .5s;
    cursor: pointer;
}
.user-skills ul li a {
    color: #000;
    text-decoration: none;
}
.user-skills ul li:hover{
    border: 1px solid green;
}
.main-box {
    background-color: #fff;
    min-height: 100vh;
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 40px;
}